<form class="form-signin">
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
  <div class="checkbox">
    <label>
    <input type="checkbox" value="remember-me"> Remember me
  </label>
  </div>
  <button class="btn btn-lg btn-block btn-primary" type="submit">로그인</button>
  <br>
  <a href="/singUp">회원가입</a>
</form>
