<!-- <form class="form-signup" (ngSubmit)="onSubmit()" (ngReset)="onReset()" #userForm="ngForm"> -->
<form class="form-signup" (ngSubmit)="onSubmit()" #userForm="ngForm">
  <h1>회원가입</h1>
  <br>
  <div class="form-group">
    <label for="username">사용자 이름</label>
    <input type="text" class="form-control" id="username" name="username" [(ngModel)]="username" placeholder="사용자의 이름을 입력하세요.">
  </div>
  <div class="form-group">
    <label for="email">이메일</label>
    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" placeholder="이메일을 입력하세요.">
  </div>
  <div class="form-group">
    <label for="password">비밀번호</label>
    <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" placeholder="8~10이상 입력하세요.">
  </div>
  <div class="form-group">
    <label for="passwordChk">비밀번호 확인</label>
    <input type="password" class="form-control" id="passwordChk" placeholder="동일한 비밀번호를 입력하세요.">
  </div>
  <button type="submit" class="btn btn-primary btn-block">회원가입</button>
</form>